<section>
    <div class="row">
  <div class="quote-box col-xs-12">
    <p class="lead">
      Welcome to the last web agency you and your company will ever need...
    </p>
    <p class="lead pull-right">You can <span class="cursive">Relax</span> now</p>
  </div>
  </div>
  <div class="row">
      <div class="page-header">
          Our Services
      </div>
      <div class="col-xs-12 col-md-4">
          <h3>Web Application Development</h3>
          <p></p>
      </div>
      <div class="col-xs-12 col-md-4">
          <h3>SEO Optimization</h3>
          <p></p>
      </div>
      <div class="col-xs-12 col-md-4">
          <h3>Business Automation</h3>
          <p></p>
      </div>
  </div>
  <article-widget></article-widget>
</section>
