<section>
    <div class="row">
  <div class="quote-box col-xs-12">
    <p class="lead">
      Welcome to the last web agency you and your business will ever need...
    </p>
    <p class="lead pull-right">You can <span class="cursive">Relax</span> now</p>
  </div>
  </div>
  <div class="row">
      <div class="page-header">
          Some of What We Do
      </div>
      <div class="col-xs-12 col-md-3">
          <div class="card">
            <img class="img-responsive" src="/modules/core/client/img/brand/testing@2x.png" alt="Application testing & debugging">
              <h3>Application Testing & Debugging</h3>
          </div>
      </div>
      <div class="col-xs-12 col-md-3">
          <div class="card">
            <img class="img-responsive" src="/modules/core/client/img/brand/api@2x.png" alt="Application testing & debugging">
              <h3>Data API Design & Development</h3>
          </div>
      </div>
      <div class="col-xs-12 col-md-3">
          <div class="card">
              <h3>Business Automation</h3>
              <p></p>
          </div>
      </div>
  </div>
  <article-widget></article-widget>
</section>
