<section>
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <p class="lead">
      Welcome to the last web agency you and your company will ever need...
    </p>
    <p class="lead pull-right">You can RELAX now</p>
  </div>
  <div>
    <h2>Congrats! You've configured and run the sample application.</h2>
    <p>MEAN.JS is a web application boilerplate, which means you should start changing everything :-)</p>
    <p>This sample application tracks users and articles.</p>
    <ul>
      <li>
        Click
        <em>Sign Up</em>
        to get started.
      </li>
      <li>
        Configure your app to work with your social accounts, by editing the
        <em>/config/env/*.js</em>
        files.
      </li>
      <li>
        Edit your users module.
      </li>
      <li>
        Add new CRUD modules.
      </li>
      <li>
        Have fun...
      </li>
    </ul>
  </div>
  <div class="well">

  </div>
  <article-widget></article-widget>
</section>
