.content {
  margin-top: 50px;
  font-family: 'Ubuntu', sans-serif !important;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  border-radius: 50%;
  height: 28px;
  margin-right: 5px;
  opacity: 0.8;
  width: 28px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-bottom: 11px !important;
  padding-top: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
.navbar-brand {
    margin-top: -18px;
}

.ml-50 {
    margin-left: 50px;
}

header.navbar.navbar-fixed-top {
    min-height: 150px;
}

section.container {
    margin-top: 100px;
}

.quote-box {
    padding: 150px 50px;
    color: #a3ce87;
}
.quote-box p.lead {
    font-size: 50px;
    text-shadow: 1px 1px rgba(255,255,255,0.2), -1px -1px rgba(0,50,0,0.6);
}

span.cursive {
    font-size: 100px;
    color: rgba(255, 205, 216, .87);
    font-family: 'Rouge Script', sans-serif !important;
}
